.channel-cards {
    display: flex;
    margin-left: 60px;
    gap: 10px;
    flex-wrap: wrap;
    justify-items: center;
  }
.no-result{
  margin-left: -60px;
  display: block;
  width: 100vw;
  font-size: 28px;
}